---
eleventyExcludeFromCollections: true
pagination:
  data: collections.podcasts
  size: 7
  alias: podcast
permalink: "episodes/index.html"
layout: "layouts/episodes.njk"
---

<h1 class="max-w-screen-lg mx-auto my-12 text-3xl sm:text-4xl text-gray-800 dark:text-white font-bold tracking-tight">All Episodes</h1>

{% for episode in episodes %}
  <section class="mb-24 max-w-screen-lg mx-auto">
    <div class="episode">
      <div class="latest">
        <h2 class="text-2xl sm:text-3xl">{{ episode.title }}</h2>

        <p class="mb-4 text-normal text-md sm:text-md font-medium text-gray-600 dark:text-gray-400 mt-2">
          {{ episode.summary }}
        </p>

        <iframe
          height="200px"
          width="100%"
          frameborder="no"
          scrolling="no"
          seamless
          src="https://player.simplecast.com/{{episode.id}}?dark=false"
        ></iframe>
      </div>
    </div>
  </section>
{% endfor %}
