---
title: "DreamClients | Where dev freelancers find more, better clients"
layout: layouts/episodes.njk
description: Where dev freelancers find more, better clients
image: /img/logo-vertical.svg
date: Last Modified
---

{% set latest = episodes[0] %}
{% set previous = episodes[1] %}


<section class="jumbotron lg:h-96 lg:min-h-screen">
  <div class="lg:flex lg:items-center h-full">
    <div class="jumbo-container">
      <div class="lg:grid lg:grid-cols-1 lg:gap-x-16 lg:grid-cols-8 lg:items-center">
        <div class="block max-w-xs my-12 lg:hidden jumbotron-image">
          <img class="w-full" src="/img/logo-podcast.svg" />
        </div>
        <div class="jumbotron-text mb-8 lg:mb-0 lg:col-span-4">
          <h1 class="text-4xl sm:text-5xl text-gray-800 dark:text-white font-extrabold">Learn how to find Dream Clients from Professionals</h1>
          <p class="text-normal text-lg sm:text-2xl font-medium text-gray-600 dark:text-gray-400 mt-4">
            A podcast for freelance software developers who want to improve their business.
          </p>
          <p class="text-normal text-lg sm:text-2xl font-medium text-gray-600 dark:text-gray-400 mt-2">
            We talk with long time freelancers about finding more clients, marketing, sales and how to run your freelance business.
          </p>
        </div>

        <div class="hidden lg:block"></div>

        <div class="hidden lg:block jumbotron-image col-span-3">
          <img class="w-full" src="/img/logo-podcast.svg" />
        </div>
      </div>

      <div class="where mt-12">
        <h2 class="text-xl font-bold">Where to find us</h2>
        <div class="mt-8 grid gap-x-8 md:gap-x-24 lg:gap-x-32 grid-cols-{{ sharing.podcast.rss_links.length }}">
          {% for link in sharing.podcast.rss_links %}
            <a href="{{ link.link }}" target="_blank">
              <div class="w-full text-center flex items-center flex-col">
                <div class="w-full mb-8">
                  {{ link.icon | safe }}
                </div>
                <span class="text-sm lg:text-md font-bold">{{ link.name }}</span>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="subscribe-now" class="py-20 lg:py-12 lg:mb-32">
  <div class="text-center flex items-center justify-center">
    <div>
      <h2 class="mb-4 text-3xl sm:text-4xl text-gray-800 dark:text-white font-extrabold tracking-tight">Get Instant Updates</h2>
      <p class="mb-4 text-normal text-lg sm:text-xl font-medium text-gray-600 dark:text-gray-400 mt-2">
        Get practical tips via email and updates when new episodes come out.
      </p>
      <a class="cta-btn-lg" data-formkit-toggle="dab84f60e3" href="https://successful-author-1806.ck.page/dab84f60e3">Subscribe Now</a>
    </div>
  </div>
</section>

