---
permalink: /podcast/
layout: layouts/podcasts.njk
---


{% set latest = collections.latestPodcast %}
{% set previous = collections.previousPodcast %}

<section class="jumbotron lg:h-96 lg:min-h-screen">
  <div class="lg:flex lg:items-center h-full">
    <div class="jumbo-container">
      <div class="lg:grid lg:grid-cols-1 lg:gap-x-16 lg:grid-cols-8 lg:items-center">
        <div class="block max-w-xs my-12 lg:hidden jumbotron-image">
          <img class="w-full" src="/img/logo-podcast.svg" />
        </div>
        <div class="jumbotron-text mb-8 lg:mb-0 lg:col-span-4">
          <h1 class="text-4xl sm:text-5xl text-gray-800 dark:text-white font-extrabold">Learn how to find Dream Clients from Professionals</h1>
          <p class="text-normal text-lg sm:text-2xl font-medium text-gray-600 dark:text-gray-400 mt-4">
            A podcast for freelance software developers who want to improve their business.
          </p>
          <p class="text-normal text-lg sm:text-2xl font-medium text-gray-600 dark:text-gray-400 mt-2">
            We talk with long time freelancers about finding more clients, marketing, sales and how to run your freelance business.
          </p>
        </div>

        <div class="hidden lg:block"></div>

        <div class="hidden lg:block jumbotron-image col-span-3">
          <img class="w-full" src="/img/logo-podcast.svg" />
        </div>
      </div>

      <div class="where mt-12">
        <h2 class="text-xl font-bold">Where to find us</h2>
        <div class="mt-8 grid gap-x-8 md:gap-x-24 lg:gap-x-32 grid-cols-{{ sharing.podcast.rss_links.length }}">
          {% for link in sharing.podcast.rss_links %}
            <a href="{{ link.link }}" target="_blank">
              <div class="w-full text-center flex items-center flex-col">
                <div class="w-full mb-8">
                  {{ link.icon | safe }}
                </div>
                <span class="text-sm lg:text-md font-bold">{{ link.name }}</span>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="subscribe-now" class="py-20 lg:py-12 lg:mb-32">
  <div class="text-center flex items-center justify-center">
    <div>
      <h2 class="mb-4 text-3xl sm:text-4xl text-gray-800 dark:text-white font-extrabold tracking-tight">Get Instant Updates</h2>
      <p class="mb-4 text-normal text-lg sm:text-xl font-medium text-gray-600 dark:text-gray-400 mt-2">
        Get practical tips via email and updates when new episodes come out.
      </p>
      <a class="cta-btn-lg" data-formkit-toggle="dab84f60e3" href="https://successful-author-1806.ck.page/dab84f60e3">Subscribe Now</a>
    </div>
  </div>
</section>

<section class="pb-12 lg:max-w-screen-lg mx-auto">
  <div class="episode mb-24">
    <h3 class="mb-4 text-lg sm:text-2xl text-indigo-600 dark:text-white font-bold tracking-tight">Latest Episode</h3>

    <div class="latest">
      <h2 class="text-xl lg:text-2xl">{{ latest.data.title }}</h2>

      <p class="mb-4 text-normal text-md sm:text-md font-medium text-gray-600 dark:text-gray-400 mt-2">
        {{ latest.data.summary }}
      </p>

      {% podcastPlayer latest %}
    </div>
  </div>

  <div class="episode">
    <h3 class="mb-4 text-lg sm:text-2xl text-indigo-600 dark:text-white font-bold tracking-tight">Previous Episode</h3>

    <div class="previous">
      <h2 class="text-xl lg:text-2xl">{{ previous.data.title }}</h2>

      <p class="mb-4 text-normal text-md sm:text-md font-medium text-gray-600 dark:text-gray-400 mt-2">
        {{ previous.data.summary }}
      </p>

      {% podcastPlayer previous %}
    </div>
  </div>
</section>

<section class="py-16 mb-12">
  <div class="text-center flex items-center justify-center">
    <div>
      <h2 class="text-3xl sm:text-4xl text-gray-800 dark:text-white font-extrabold tracking-tight">
        <a href="/podcasts/" class="flex items-center">
          <span class="mr-2">All Episodes</span>
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 0C8.08257 0 5.28463 1.13422 3.22219 3.15386C1.15877 5.17261 0 7.91116 0 10.7667C0 13.6223 1.1588 16.3609 3.22219 18.3796C5.28468 20.3992 8.08257 21.5334 11 21.5334C13.9174 21.5334 16.7154 20.3992 18.7778 18.3796C20.8412 16.3608 22 13.6223 22 10.7667C22 7.91116 20.8412 5.17256 18.7778 3.15386C16.7153 1.1342 13.9174 0 11 0V0ZM14.1562 11.7593L9.78143 16.0413C9.2459 16.5655 8.37748 16.5646 7.84196 16.0404C7.30733 15.5153 7.30733 14.6662 7.84377 14.1421L11.2938 10.7667L7.84377 7.39143C7.30734 6.86726 7.30734 6.01814 7.84196 5.49309C8.37748 4.96892 9.2459 4.96804 9.78143 5.49221L14.1562 9.77419C14.4249 10.0363 14.5705 10.3958 14.5569 10.7667V10.8101C14.5569 11.1661 14.4131 11.507 14.1562 11.7593V11.7593Z" fill="#6C63FF"/>
          </svg>
        </a>
      </h2>
    </div>
  </div>
</section>