---
eleventyExcludeFromCollections: true
pagination:
  data: collections.podcasts
  size: 7
  alias: podcast
permalink: "podcasts/index.html"
layout: "layouts/podcasts.njk"
---

<h1>Podcast List</h1>
