<!doctype html>
<html class="h-full" lang="en"
    domain="{{ metadata.domain }}"
    {% if googleanalytics %}
    ga-id="{{ googleanalytics }}"
    {% endif %}
  >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy" content="{{ csp.regular | safe }}"> -->

    {% if isdevelopment %}
      <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    {% else %}
      <link rel="icon" href="{{ '/img/favicon/favicon-192x192.png' | addHash }}" type="image/png">
    {% endif %}

    <meta name="theme-color" content="#f9c412">
    <title>{{ renderData.title or title or metadata.title | escape }}</title>
    <meta property="og:title" content="{{ renderData.title or title or metadata.title | escape  }}">
    {% set desc = renderData.description or description %}

    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}

    {% if desc %}
      <meta name="description" content="{{ desc | escape  }}">
      <meta property="og:description" content="{{ desc | escape }}">
    {% endif %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ metadata.author.twitterHandle }}">
    <meta name="twitter:creator" content="@{{ metadata.author.twitterHandle }}">

    {% if image %}
      <meta property="og:image" content="{{ image | absoluteUrl(metadata.url) }}">
    {% endif %}

    <link rel="canonical" href="{{ metadata.url }}{{ canonicalUrl or page.url }}">
    <!-- This is a blog and so it SHOULD be safe and it is nice for the web
         to send referrers cross-origin.
         However, if you use sensitive data in URLs, consider changing this to
         a value like `origin-when-cross-origin`
         https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy
          -->
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

    <link rel="preconnect" href="/" crossorigin>

    <link href="/css/main.css" rel="stylesheet">

    <script async defer src="{{ "/js/min.js" | addHash }}"></script>

    {% if googleanalytics and not isdevelopment %}
    <!-- <script async defer src="{{ "/js/cached.js" | addHash }}"></script> -->

    <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K3QJJJ6');</script>
    <!-- End Google Tag Manager -->
    {% endif %}


    <!-- Notably iOS UAs also contain Mac OS X -->
    <script csp-hash>if (/Mac OS X/.test(navigator.userAgent))document.documentElement.classList.add('apple')</script>
    <!-- css is inserted by optimize-html custom plugin -->

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var hamburger = document.getElementById("hamburger");
        var mobileMenu = document.getElementById("mobile-menu");
        hamburger.addEventListener("click", function(e) {
          e.preventDefault();
          mobileMenu.classList.toggle("hidden");
        });
      })
    </script>

    {% block javascript_head %}
    {% endblock %}
  </head>
  <body class="px-4 sm:px-8 flex flex-col h-full justify-between antialiased">
    <div class="top-wrapper lg:max-w-screen-lg mx-auto">
      <header class="py-4">
        <div class="container mx-auto">
          <nav class="main-nav h-10 flex items-center justify-between">
            <img class="h-8 block w-auto" src="/img/logo-horizontal.svg" />
            <a href="#" id="hamburger" class="md:hidden">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><title>ic_menu_48px</title>
                <g fill="#111111">
                    <path d="M6 36h36v-4H6v4zm0-10h36v-4H6v4zm0-14v4h36v-4H6z"></path>
                </g>
              </svg>
            </a>
            <ul class="hidden md:flex">
              <li class="mr-4 font-bold"><a href="/">Home</a></li>
              <li class="mr-4 font-bold"><a href="/podcast">Podcast</a></li>
              <li class="mr-4 font-bold"><a href="/podcasts">Episodes</a></li>
              <li>
                {% block ctaHeader %}
                  <a class="cta-btn" href="#subscribe-now">
                    Book a Session
                  </a>
                {% endblock %}
              </li>
            </ul>
          </nav>
          <ul id="mobile-menu" class="flex flex-col hidden mt-8 md:hidden">
            <li class="mb-4 font-bold"><a href="/">Home</a></li>
            <li class="mb-4 font-bold"><a href="/podcast">Podcast</a></li>
            <li class="mb-8 font-bold"><a href="/podcasts">Episodes</a></li>
            <li>
              {% block ctaMobileHeader %}
                <a class="cta-btn" href="#subscribe-now">
                  Book a Session
                </a>
              {% endblock %}
            </li>
          </ul>
        </div>
      </header>

      <main class="container mx-auto">
        {% block article %}
          {{ content | safe }}
        {% endblock %}
      </main>
    </div>

    <footer class="container mx-auto pb-12 lg:flex lg:justify-between">
      <div class="logo mb-8 lg:mb-0">
        <img src="/img/logo-vertical.svg" />
        <p>&copy; Square Bracket eU <script>document.write((new Date()).getFullYear())</script></p>
      </div>
      <div class="nav-links mb-8 lg:mb-0">
        <h4 class="mb-2 text-base sm:text-base text-indigo-600 dark:text-white font-bold tracking-tight">Site Links</h4>
        <ul>
          <li class="mb-2 font-bold"><a href="/">Home</a></li>
          <li class="mb-2 font-bold"><a href="/podcast">Podcast</a></li>
          <li class="mb-2 font-bold"><a href="/podcasts">Episodes</a></li>
        </ul>
      </div>
      <div class="nav-rss mb-12 lg:mb-0">
        <h4 class="mb-4 text-base sm:text-base text-indigo-600 dark:text-white font-bold tracking-tight">Subscribe to the Podcast</h4>
        <ul>
          {% for link in  sharing.podcast.rss_links %}
            <li class="mb-2">
              <a href="{{ link.link }}" target="_blank" class="flex items-center">
                <span class="w-6 h-6 mr-4">{{ link.icon | safe }}</span>
                <span class="font-bold">{{ link.name }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="cta self-auto">
        {% block ctaFooter %}
          <a class="cta-btn" href="#subscribe-now">
            Book a Session
          </a>
        {% endblock %}
      </div>

      {% if googleanalytics and not isdevelopment %}
        <noscript>
          <!-- Google Tag Manager (noscript) -->
          <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3QJJJ6" height="0" width="0" style="display:none;visibility:hidden"></iframe>
          <!-- End Google Tag Manager (noscript) -->
          <img src="/.netlify/functions/ga?v=1&_v=j83&t=pageview&dr=https%3A%2F%2Fno-script.com&_s=1&dh={{ metadata.domain | encodeURIComponent }}&dp={{ page.url | encodeURIComponent }}&ul=en-us&de=UTF-8&dt={{title|encodeURIComponent}}&tid={{googleanalytics}}" width="1" height="1" style="display:none" alt="">
        </noscript>
      {% endif %}
    </footer>

    <!-- Current page: {{ page.url | url }} -->

    {% block javascript_tail %}
    {% endblock %}
  </body>
</html>
