{% extends "layouts/base.njk" %}

{% block javascript_tail %}
  <script src="//cdn.podlove.org/web-player/5.x/embed.js"></script>
  <script async data-uid="dab84f60e3" src="https://successful-author-1806.ck.page/dab84f60e3/index.js"></script>
{% endblock %}

{% block ctaHeader %}
  <a class="cta-btn" data-formkit-toggle="dab84f60e3" href="https://successful-author-1806.ck.page/dab84f60e3">
    Subscribe Now
  </a>
{% endblock %}

{% block ctaMobileHeader %}
  <a class="cta-btn" data-formkit-toggle="dab84f60e3" href="https://successful-author-1806.ck.page/dab84f60e3">
    Subscribe Now
  </a>
{% endblock %}

{% block ctaFooter %}
  <a class="cta-btn" data-formkit-toggle="dab84f60e3" href="https://successful-author-1806.ck.page/dab84f60e3">
    Subscribe Now
  </a>
{% endblock %}

{% block article %}
    {{ content | safe }}
{% endblock %}